@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617; /* Deep dark blue */
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: none; /* Phone par scroll rokne ke liye */
}
